* {
    margin: 0;
    box-sizing: border-box;
}

.web {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

footer {
    width: 100%;
    padding: 0 0 5px 5px;
    background: lightblue;
    color: black;
    position: relative;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    margin-top: auto;
}

header {

    width: 100%;
    color: black;
    position: relative;
    display: flex;
    min-height: 100px;
}

.content {
    width: 100%;
    display: flex;
}

.content .hinh {
    padding-top: 25px;
}

.content .baclieu {
    padding-left: 5px;
    padding-top: 15px;
}

.hinh {
    width: 20%;
    border: 5px solid black;
}

.hinh img {
    width: 100%;
}

.baclieu {
    width: 80%;
    border-left: none;
    border: 5px solid black;

}

.baclieu .flex {
    display: flex;
}

.baclieu p {
    font-size: 25px;
}

.baclieu .nd {
    margin-top: 25px;
    padding: 10px;
}

.baclieu .nd img {
    width: 60%;
    float: right;
    position: relative;
    margin-left: 25px;
}

.baclieu .nd p {
    text-align: justify;

}

.flex img {
    width: 40%;
}

.qly {
    padding-left: 25%;
    padding-top: 25px;
}

.qly p {
    text-align: center;
    -webkit-text-stroke: 2px black;
    font-size: 50px;
    text-transform: uppercase;
    color: white;
}

.school,
.title {
    text-transform: uppercase;
}

.school,
.title,
.slogan {
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}


/* Bật block+scroll cho tbody */
table tbody {
    display: block;
    max-height: 160px;
    overflow-y: auto;
}

/* Giữ các dòng và header cùng layout */
table thead,
table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

/* Các ô vẫn border như bình thường */
table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    /* cho phép nội dung dài tự xuống dòng */
    white-space: normal;
    /* cách tách từ/chữ khi quá dài */
    word-break: break-word;
    /* hoặc: word-break: break-all; */
    overflow-wrap: break-word;
    /* tương thích tốt với các trình duyệt */
}


th:first-child,
td:first-child {
    width: 100px;
    text-align: center;
}

th,
td {
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    text-align: left;
    padding: 5px 5px 0 5px;
}


th {
    background-color: #f9f9f9;
    font-weight: bold;

}
